openapi: 3.1.0
info:
  title: quick-start-api-formerly-get-api Articles Influencers API
  version: '1'
servers:
- url: https://api.newswhip.com/v1
tags:
- name: Influencers
paths:
  /twitterInfluencers:
    post:
      summary: /twitterInfluencers
      description: ''
      operationId: twitterinfluencers
      parameters:
      - name: key
        in: query
        description: Your API key.
        required: true
        schema:
          type: string
          default: DevHub
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - filters
              properties:
                filters:
                  type: array
                  description: Choose from `publisher`, `categories`, `country_code`, `headline`, `summary`, `region_code`, `language`, `domain`.
                  items:
                    type: string
                from:
                  type: integer
                  description: Unix timestamp in milliseconds. Filters articles published after {from}. Unix timestamp in milliseconds. Defaults to a week ago.
                  default: null
                  format: int64
                to:
                  type: integer
                  description: Unix timestamp in milliseconds. Filters articles published before {to}. Unix timestamp in milliseconds. Defaults to now.
                  default: null
                  format: int64
                language:
                  type: string
                  description: Two letter ISO 639-1 language code. Defaults to any language.
                size:
                  type: integer
                  description: Number of influencers to return (max 500). Defaults to 200. The maximum you can specify is 5,000.
                  default: 200
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"twitterInfluencers\": [\n    {\n      \"twitter_id\": 168683422,\n      \"twitter_handle\": \"BigHitEnt\",\n      \"likes_count\": 6,\n      \"followers_count\": 6054861,\n      \"following_count\": 18,\n      \"statuses_count\": 4711,\n      \"max_retweet_value\": 90757,\n      \"social_referrals\": [\n        {\n          \"article_id\": \"43b5dc60-3140-11e8-be5b-ef989ddb8d11\",\n          \"twitter_url\": \"https://twitter.com/any/status/978421147711651840\",\n          \"favourite_count\": 247379,\n          \"rt_count\": 90757,\n          \"created_at\": 1522108754000,\n          \"description\": \"How did they do the impossible, and crack the elusive and highly competitive American market? BTS is perhaps the most successful K-pop act of all time -- incredible when you consider the demand they've been able to generate in English-speaking markets.\",\n          \"article_url\": \"https://www.forbes.com/sites/cfthomas/2018/03/26/bts-the-k-pop-group-that-finally-won-america-over/\"\n        }\n      ]\n    }\n  ]\n}"
              schema:
                type: object
                properties:
                  twitterInfluencers:
                    type: array
                    items:
                      type: object
                      properties:
                        twitter_id:
                          type: integer
                          example: 168683422
                          default: 0
                        twitter_handle:
                          type: string
                          example: BigHitEnt
                        likes_count:
                          type: integer
                          example: 6
                          default: 0
                        followers_count:
                          type: integer
                          example: 6054861
                          default: 0
                        following_count:
                          type: integer
                          example: 18
                          default: 0
                        statuses_count:
                          type: integer
                          example: 4711
                          default: 0
                        max_retweet_value:
                          type: integer
                          example: 90757
                          default: 0
                        social_referrals:
                          type: array
                          items:
                            type: object
                            properties:
                              article_id:
                                type: string
                                example: 43b5dc60-3140-11e8-be5b-ef989ddb8d11
                              twitter_url:
                                type: string
                                example: https://twitter.com/any/status/978421147711651840
                              favourite_count:
                                type: integer
                                example: 247379
                                default: 0
                              rt_count:
                                type: integer
                                example: 90757
                                default: 0
                              created_at:
                                type: integer
                                example: 1522108754000
                                default: 0
                              description:
                                type: string
                                example: How did they do the impossible, and crack the elusive and highly competitive American market? BTS is perhaps the most successful K-pop act of all time -- incredible when you consider the demand they've been able to generate in English-speaking markets.
                              article_url:
                                type: string
                                example: https://www.forbes.com/sites/cfthomas/2018/03/26/bts-the-k-pop-group-that-finally-won-america-over/
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"error\": {\n    \"message\": \"Fields 'countryCode' is not allowed for filters query!\",\n    \"id\": \"29d06ec3-0265-48e2-a3e4-acda03933f50\"\n  }\n}"
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Fields 'countryCode' is not allowed for filters query!
                      id:
                        type: string
                        example: 29d06ec3-0265-48e2-a3e4-acda03933f50
      deprecated: false
      security: []
      x-readme:
        code-samples:
        - language: curl
          code: "curl -H \"Content-Type: application/json\" -X POST -d '{\n    \"filters\": [\"country_code:us\"],\n    \"size\": 250\n}' \"https://api.newswhip.com/v1/twitterInfluencers?key=DevHub\""
        samples-languages:
        - curl
      tags:
      - Influencers
  /fbInfluencers:
    post:
      summary: /fbInfluencers
      description: ''
      operationId: fbinfluencers
      parameters:
      - name: key
        in: query
        description: Your API key.
        required: true
        schema:
          type: string
          default: DevHub
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - filters
              properties:
                filters:
                  type: array
                  description: Choose from `publisher`, `categories`, `country_code`, `headline`, `summary`, `region_code`, `language`, `domain`.
                  items:
                    type: string
                from:
                  type: integer
                  description: Unix timestamp in milliseconds. Filters articles published after {from}. Defaults to a week ago.
                  default: null
                  format: int64
                to:
                  type: integer
                  description: Unix timestamp in milliseconds. Filters articles published before {to}. Defaults to now.
                  default: null
                  format: int64
                language:
                  type: string
                  description: Two letter ISO 639-1 language code. Defaults to any language.
                size:
                  type: integer
                  description: Number of influencers to return (max 500). Defaults to 200. The maximum you can specify is 5,000.
                  default: 200
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"fbInfluencers\": [\n    {\n      \"fb_page_id\": 169597416843751,\n      \"fb_username\": \"StandUpAmerica\",\n      \"about\": \"We reject Donald Trump's dangerous agenda.  Join us to fight back!\",\n      \"followers_count\": 1223257,\n      \"likes_count\": 1223257,\n      \"profile_image\": \"https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/17201451_252064575263701_2807050516564195940_n.jpg?_nc_cat=0&oh=d372b746f090e6e23cf150d3d65e4406&oe=5B34EE5E\",\n      \"max_fb_interactions\": 164246,\n      \"social_referrals\": [\n        {\n          \"article_id\": \"784a01b0-2fcc-11e8-ab88-49c2dc76b82d\",\n          \"fb_post_id\": \"169597416843751_466933743776782\",\n          \"headline\": \"Stunning photos show how many people joined the March for Our Lives protests in cities across the US\",\n          \"description\": \"Throngs of people hit the streets on Saturday in cities across the United States for the March for Our Lives protests against gun violence.\",\n          \"fb_total_interactions\": 164246,\n          \"created_at\": 1521948383000,\n          \"article_url\": \"http://www.businessinsider.com/photos-march-for-our-lives-crowds-2018-3\"\n        },\n        {\n          \"article_id\": \"6a731200-30ff-11e8-8010-b589f56f0c06\",\n          \"fb_post_id\": \"169597416843751_467780303692126\",\n          \"headline\": \"It’s official: March for Our Lives was one of the biggest youth protests since the Vietnam War\",\n          \"description\": \"The preliminary crowd counts confirm the weekend’s marches and rallies were huge.\",\n          \"fb_total_interactions\": 98396,\n          \"created_at\": 1522076814000,\n          \"article_url\": \"https://www.vox.com/policy-and-politics/2018/3/26/17160646/march-for-our-lives-crowd-size-count\"\n        },\n        {\n          \"article_id\": \"fb0b5a00-2fa3-11e8-be5b-ef989ddb8d11\",\n          \"fb_post_id\": \"169597416843751_466828240453999\",\n          \"headline\": \"This Is What The March For Our Lives Looked Like From Space\",\n          \"description\": \"Whoa.\",\n          \"fb_total_interactions\": 65564,\n          \"created_at\": 1521930886000,\n          \"article_url\": \"https://www.huffingtonpost.com/entry/this-is-what-the-march-for-our-lives-looked-like-from-space_us_5ab6ae5de4b008c9e5f7dbe4\"\n        },\n        {\n          \"article_id\": \"a72bd270-2f7b-11e8-8010-b589f56f0c06\",\n          \"fb_post_id\": \"169597416843751_466628110474012\",\n          \"headline\": \"Students descend on Mar-a-Lago as Trump flees thousands in DC\",\n          \"description\": \"If Trump was hoping to find a safe space at his luxury resort, he's about to figure out he was sorely mistaken.\",\n          \"fb_total_interactions\": 46234,\n          \"created_at\": 1521909111000,\n          \"article_url\": \"https://shareblue.com/march-for-our-lives-pennsylvania-avenue-to-mar-a-lago/\"\n        },\n        {\n          \"article_id\": \"d8a9b5f0-2f9a-11e8-be5b-ef989ddb8d11\",\n          \"fb_post_id\": \"169597416843751_466759080460915\",\n          \"headline\": \"Organizers estimate 800K people in DC for march so far: report\",\n          \"description\": \"Organizers are reporting as many as 800,000 people gathered in Washington, D.C., on Saturday afternoon for the anti-gun violence rally, NBC reported. \",\n          \"fb_total_interactions\": 42502,\n          \"created_at\": 1521922932000,\n          \"article_url\": \"http://thehill.com/blogs/blog-briefing-room/news/380116-organizers-estimate-800k-people-in-dc-for-march-so-far\"\n        },\n        {\n          \"article_id\": \"a0929420-336e-11e8-8010-b589f56f0c06\",\n          \"fb_post_id\": \"169597416843751_469580743512082\",\n          \"headline\": \"TripAdvisor says it will stop ads for right-wing TV host Laura Ingraham after she criticized Parkland shooting survivor\",\n          \"description\": \"Online travel website TripAdvisor said it will stop advertising on right-wing host Laura Ingraham's television after she attacked a victim of the February Parkland, Florida school shooting on Twitter.\",\n          \"fb_total_interactions\": 30762,\n          \"created_at\": 1522371000000,\n          \"article_url\": \"https://www.cnbc.com/2018/03/29/tripadvisor-drops-laura-ingraham-after-she-attacked-parkland-activist.html\"\n        },\n        {\n          \"article_id\": \"badbfa40-2f83-11e8-9e4c-83fcdd16cc63\",\n          \"fb_post_id\": \"169597416843751_466707257132764\",\n          \"headline\": \"Photos From the \\\"March for Our Lives\\\"\",\n          \"description\": \"Hundreds of thousands of Americans are taking to the streets today in hundreds of coordinated protests, calling for lawmakers to address school safety and gun violence.\",\n          \"fb_total_interactions\": 29547,\n          \"created_at\": 1521917356000,\n          \"article_url\": \"https://www.theatlantic.com/photo/2018/03/photos-from-the-march-for-our-lives/556454/\"\n        },\n        {\n          \"article_id\": \"4fb29480-3394-11e8-a52e-a128b18e226e\",\n          \"fb_post_id\": \"169597416843751_469517180185105\",\n          \"headline\": \"Advertisers desert Ingraham over Parkland controversy\",\n          \"description\": \"At least half a dozen advertisers on Laura Ingraham's primetime Fox News show pulled their support on Thursday in response to her comments mocking Parkland, Fla., shooting survivor David Hogg over his rejection from colleg\",\n          \"fb_total_interactions\": 25715,\n          \"created_at\": 1522359516000,\n          \"article_url\": \"http://thehill.com/blogs/blog-briefing-room/news/380901-advertisers-desert-ingraham-over-parkland-controversy\"\n        },\n        {\n          \"article_id\": \"a4caead0-3367-11e8-ab88-49c2dc76b82d\",\n          \"fb_post_id\": \"169597416843751_469380743532082\",\n          \"headline\": \"Laura Ingraham just lost an advertiser over David Hogg's boycott\",\n          \"description\": \"Hogg is asking his nearly 600,000 Twitter followers to boycott Laura Ingraham's advertisers\",\n          \"fb_total_interactions\": 25373,\n          \"created_at\": 1522340516000,\n          \"article_url\": \"https://news.vice.com/en_us/article/43b3md/laura-ingraham-just-lost-an-advertiser-over-david-hoggs-boycott\"\n        },\n        {\n          \"article_id\": \"a7edffe0-31be-11e8-ab88-49c2dc76b82d\",\n          \"fb_post_id\": \"169597416843751_468387043631452\",\n          \"headline\": \"The US needs to borrow almost $300 billion this week\",\n          \"description\": \"Uncle Sam needs to borrow a ton of money this week even as Washington engages in a trade spat with China, its biggest foreign creditor.\",\n          \"fb_total_interactions\": 25240,\n          \"created_at\": 1522167262000,\n          \"article_url\": \"http://money.cnn.com/2018/03/27/investing/us-debt-sale-record-treasury/index.html\"\n        },\n        {\n          \"article_id\": \"84923c60-320d-11e8-be5b-ef989ddb8d11\",\n          \"fb_post_id\": \"169597416843751_468831330253690\",\n          \"headline\": \"Senator asks the NRA to hand over records on foreign funding, spending\",\n          \"description\": \"Sen. Ron Wyden asked the NRA to turn over detailed internal records about foreign funding it received in the past three years and how it spent that money, including whether any of it went toward influencing American elections.\",\n          \"fb_total_interactions\": 23300,\n          \"created_at\": 1522249015000,\n          \"article_url\": \"https://www.pbs.org/newshour/nation/senator-asks-the-nra-to-hand-over-records-on-foreign-funding-spending\"\n        },\n        {\n          \"article_id\": \"3cf26aa0-338f-11e8-be5b-ef989ddb8d11\",\n          \"fb_post_id\": \"169597416843751_469560030180820\",\n          \"headline\": \"E.P.A. Prepares to Roll Back Rules Requiring Cars to Be Cleaner and More Efficient\",\n          \"description\": \"The Trump administration, handing automakers a victory, is preparing to announce an effort to weaken strict Obama-era pollution standards.\",\n          \"fb_total_interactions\": 12842,\n          \"created_at\": 1522366957000,\n          \"article_url\": \"https://www.nytimes.com/2018/03/29/climate/epa-cafe-auto-pollution-rollback.html\"\n        }\n      ]\n    }\n  ]\n}"
              schema:
                type: object
                properties:
                  fbInfluencers:
                    type: array
                    items:
                      type: object
                      properties:
                        fb_page_id:
                          type: integer
                          example: 169597416843751
                          default: 0
                        fb_username:
                          type: string
                          example: StandUpAmerica
                        about:
                          type: string
                          example: We reject Donald Trump's dangerous agenda.  Join us to fight back!
                        followers_count:
                          type: integer
                          example: 1223257
                          default: 0
                        likes_count:
                          type: integer
                          example: 1223257
                          default: 0
                        profile_image:
                          type: string
                          example: https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/17201451_252064575263701_2807050516564195940_n.jpg?_nc_cat=0&oh=d372b746f090e6e23cf150d3d65e4406&oe=5B34EE5E
                        max_fb_interactions:
                          type: integer
                          example: 164246
                          default: 0
                        social_referrals:
                          type: array
                          items:
                            type: object
                            properties:
                              article_id:
                                type: string
                                example: 784a01b0-2fcc-11e8-ab88-49c2dc76b82d
                              fb_post_id:
                                type: string
                                example: '169597416843751_466933743776782'
                              headline:
                                type: string
                                example: Stunning photos show how many people joined the March for Our Lives protests in cities across the US
                              description:
                                type: string
                                example: Throngs of people hit the streets on Saturday in cities across the United States for the March for Our Lives protests against gun violence.
                              fb_total_interactions:
                                type: integer
                                example: 164246
                                default: 0
                              created_at:
                                type: integer
                                example: 1521948383000
                                default: 0
                              article_url:
                                type: string
                                example: http://www.businessinsider.com/photos-march-for-our-lives-crowds-2018-3
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"error\": {\n    \"message\": \"Fields 'foo_field' is not allowed for filters query!\",\n    \"id\": \"58a59557-b7f4-42a9-b65f-af33d666499c\"\n  }\n}"
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Fields 'foo_field' is not allowed for filters query!
                      id:
                        type: string
                        example: 58a59557-b7f4-42a9-b65f-af33d666499c
      deprecated: false
      security: []
      x-readme:
        code-samples:
        - language: curl
          code: "curl -H \"Content-Type: application/json\" -X POST -d '{\n    \"filters\": [\"country_code:us\"],\n    \"size\": 250\n}' \"https://api.newswhip.com/v1/fbInfluencers?key=DevHub\""
        samples-languages:
        - curl
      tags:
      - Influencers
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: query
      name: key
      x-default: DevKey
