{
  "openapi": "3.1.0",
  "info": {
    "title": "quick-start-api-formerly-get-api",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.newswhip.com/v1"
    }
  ],
  "paths": {
    "/region/{Region}/{Category}/{Time_Period}": {
      "get": {
        "summary": "/region",
        "description": "",
        "operationId": "region",
        "parameters": [
          {
            "name": "Region",
            "in": "path",
            "description": "Filters articles published in {region}. The region should be passed in English, using the reference data linked below.",
            "schema": {
              "type": "string",
              "default": "World"
            },
            "required": true
          },
          {
            "name": "Category",
            "in": "path",
            "description": "Filters articles by {category}. Note: the category (topic) should be passed in English, using the reference data linked below.",
            "schema": {
              "type": "string",
              "default": "All"
            },
            "required": true
          },
          {
            "name": "Time_Period",
            "in": "path",
            "description": "Filters articles published within the last {time_period} hours. Valid time_periods range from 1 up to 168 hours",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24
            },
            "required": true
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DevKey"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The number of results you wish to have returned in the request. The default is 150 if this is omitted. The maximum you can specify is 500.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 150
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"total_match\": 1000,\n  \"articles\": [\n    {\n      \"delta_time\": 292,\n      \"recent_fb_counts\": 121080,\n      \"recent_tw_counts\": 5186,\n      \"relatedStories\": [\n        \n      ],\n      \"fb_data\": {\n        \"total_engagement_count\": 438712,\n        \"total_count_delta\": 121080,\n        \"delta_period\": 292,\n        \"delta_period_unit\": \"m\",\n        \"fb_overperforming\": 27.785593513761\n      },\n      \"tw_data\": {\n        \"tw_count\": 31157,\n        \"total_count_delta\": 5186,\n        \"delta_period\": 292,\n        \"delta_period_unit\": \"m\",\n        \"tw_overperforming\": 20.063359883215\n      },\n      \"li_data\": {\n        \"li_count\": 0,\n        \"total_count_delta\": 0,\n        \"delta_period\": 292,\n        \"delta_period_unit\": \"m\"\n      },\n      \"pi_data\": {\n        \"pi_count\": 22,\n        \"delta_period\": 292,\n        \"delta_period_unit\": \"m\"\n      },\n      \"predicted_interactions\": 1131719,\n      \"predicted_timestamp\": 1522338239279,\n      \"uuid\": \"97b2ca00-31f7-11e8-be5b-ef989ddb8d11\",\n      \"publication_timestamp\": 1522179772000,\n      \"link\": \"https://www.nytimes.com/2018/03/27/opinion/nikolas-cruz-shooting-florida.html\",\n      \"headline\": \"Opinion | I Tried to Befriend Nikolas Cruz. He Still Killed My Friends.\",\n      \"excerpt\": \"The notion that the Parkland shootings wouldn\\u2019t have occurred if students had been kinder is deeply dangerous.\",\n      \"keywords\": \"Parkland Shooting,Nikolas Cruz,Marjory Stoneman Douglas,Murders and Homicides\",\n      \"source\": {\n        \"publisher\": \"nytimes.com\",\n        \"domain\": \"nytimes.com\",\n        \"link\": \"https://nytimes.com\",\n        \"country\": \"United States\",\n        \"country_code\": \"us\",\n        \"language\": \"en\"\n      },\n      \"image_link\": \"https://static01.nyt.com/images/2018/03/27/opinion/27Robinson/27Robinson-facebookJumbo.jpg\",\n      \"has_video\": false,\n      \"nw_score\": 1781.0086007513,\n      \"max_nw_score\": 9797.2621208147,\n      \"topics\": [\n        {\n          \"id\": 2,\n          \"name\": \"News\"\n        },\n        {\n          \"id\": 19,\n          \"name\": \"Opinion\"\n        }\n      ],\n      \"authors\": [\n        \"ISABELLE ROBINSON\"\n      ],\n      \"entities\": [\n        \n      ]\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_match": {
                      "type": "integer",
                      "example": 1000,
                      "default": 0
                    },
                    "articles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "delta_time": {
                            "type": "integer",
                            "example": 292,
                            "default": 0
                          },
                          "recent_fb_counts": {
                            "type": "integer",
                            "example": 121080,
                            "default": 0
                          },
                          "recent_tw_counts": {
                            "type": "integer",
                            "example": 5186,
                            "default": 0
                          },
                          "relatedStories": {
                            "type": "array"
                          },
                          "fb_data": {
                            "type": "object",
                            "properties": {
                              "total_engagement_count": {
                                "type": "integer",
                                "example": 438712,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 121080,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 292,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              },
                              "fb_overperforming": {
                                "type": "number",
                                "example": 27.785593513761,
                                "default": 0
                              }
                            }
                          },
                          "tw_data": {
                            "type": "object",
                            "properties": {
                              "tw_count": {
                                "type": "integer",
                                "example": 31157,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 5186,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 292,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              },
                              "tw_overperforming": {
                                "type": "number",
                                "example": 20.063359883215,
                                "default": 0
                              }
                            }
                          },
                          "li_data": {
                            "type": "object",
                            "properties": {
                              "li_count": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 292,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              }
                            }
                          },
                          "pi_data": {
                            "type": "object",
                            "properties": {
                              "pi_count": {
                                "type": "integer",
                                "example": 22,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 292,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              }
                            }
                          },
                          "predicted_interactions": {
                            "type": "integer",
                            "example": 1131719,
                            "default": 0
                          },
                          "predicted_timestamp": {
                            "type": "integer",
                            "example": 1522338239279,
                            "default": 0
                          },
                          "uuid": {
                            "type": "string",
                            "example": "97b2ca00-31f7-11e8-be5b-ef989ddb8d11"
                          },
                          "publication_timestamp": {
                            "type": "integer",
                            "example": 1522179772000,
                            "default": 0
                          },
                          "link": {
                            "type": "string",
                            "example": "https://www.nytimes.com/2018/03/27/opinion/nikolas-cruz-shooting-florida.html"
                          },
                          "headline": {
                            "type": "string",
                            "example": "Opinion | I Tried to Befriend Nikolas Cruz. He Still Killed My Friends."
                          },
                          "excerpt": {
                            "type": "string",
                            "example": "The notion that the Parkland shootings wouldn\u2019t have occurred if students had been kinder is deeply dangerous."
                          },
                          "keywords": {
                            "type": "string",
                            "example": "Parkland Shooting,Nikolas Cruz,Marjory Stoneman Douglas,Murders and Homicides"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "publisher": {
                                "type": "string",
                                "example": "nytimes.com"
                              },
                              "domain": {
                                "type": "string",
                                "example": "nytimes.com"
                              },
                              "link": {
                                "type": "string",
                                "example": "https://nytimes.com"
                              },
                              "country": {
                                "type": "string",
                                "example": "United States"
                              },
                              "country_code": {
                                "type": "string",
                                "example": "us"
                              },
                              "language": {
                                "type": "string",
                                "example": "en"
                              }
                            }
                          },
                          "image_link": {
                            "type": "string",
                            "example": "https://static01.nyt.com/images/2018/03/27/opinion/27Robinson/27Robinson-facebookJumbo.jpg"
                          },
                          "has_video": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "nw_score": {
                            "type": "number",
                            "example": 1781.0086007513,
                            "default": 0
                          },
                          "max_nw_score": {
                            "type": "number",
                            "example": 9797.2621208147,
                            "default": 0
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 2,
                                  "default": 0
                                },
                                "name": {
                                  "type": "string",
                                  "example": "News"
                                }
                              }
                            }
                          },
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "ISABELLE ROBINSON"
                            }
                          },
                          "entities": {
                            "type": "array"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"error\":{\"message\":\"Unknown country or region. Received: Wod\",\"id\":\"2f0c0762-f0ea-4b5a-bd3e-019d259895e2\"}}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Unknown country or region. Received: Wod"
                        },
                        "id": {
                          "type": "string",
                          "example": "2f0c0762-f0ea-4b5a-bd3e-019d259895e2"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl \"https://api.newswhip.com/v1/region/World/All/24?key=DevHub\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/publisher/{Publisher}/{Time_Period}": {
      "get": {
        "summary": "/publisher",
        "description": "",
        "operationId": "publisher",
        "parameters": [
          {
            "name": "Publisher",
            "in": "path",
            "description": "Any domain or subdomain. i.e. nytimes.com, blog.newswhip.com",
            "schema": {
              "type": "string",
              "default": "nytimes.com"
            },
            "required": true
          },
          {
            "name": "Time_Period",
            "in": "path",
            "description": "Filters articles published within the last {time_period} hours. Valid time_periods range from 1 up to 168 hours",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24
            },
            "required": true
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your API key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DevHub"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The number of results you wish to have returned in the request. The default is 150 if this is omitted. The maximum you can specify is 500.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 150
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"total_match\": 702,\n  \"articles\": [\n    {\n      \"delta_time\": 211,\n      \"recent_fb_counts\": 3760,\n      \"recent_tw_counts\": 188,\n      \"videos\": [],\n      \"relatedStories\": [],\n      \"fb_data\": {\n        \"total_engagement_count\": 48195,\n        \"total_count_delta\": 3760,\n        \"delta_period\": 211,\n        \"delta_period_unit\": \"m\",\n        \"fb_overperforming\": 2.884757949529689\n      },\n      \"tw_data\": {\n        \"tw_count\": 7431,\n        \"total_count_delta\": 188,\n        \"delta_period\": 211,\n        \"delta_period_unit\": \"m\",\n        \"tw_overperforming\": 4.646973523569058\n      },\n      \"li_data\": {\n        \"li_count\": 0,\n        \"total_count_delta\": 0,\n        \"delta_period\": 211,\n        \"delta_period_unit\": \"m\"\n      },\n      \"pi_data\": {\n        \"pi_count\": 1,\n        \"delta_period\": 211,\n        \"delta_period_unit\": \"m\"\n      },\n      \"predicted_interactions\": 74438,\n      \"predicted_timestamp\": 1522571075969,\n      \"uuid\": \"3a4c6b20-3443-11e8-ab88-49c2dc76b82d\",\n      \"publication_timestamp\": 1522432393000,\n      \"link\": \"https://www.nytimes.com/2018/03/30/us/stephon-clark-independent-autopsy.html\",\n      \"headline\": \"Stephon Clark Was Shot 8 Times Primarily in His Back, Family-Ordered Autopsy Finds\",\n      \"excerpt\": \"A lawyer for the family said the findings proved that Mr. Clark could not have been moving in a threatening fashion toward Sacramento officers when they opened fire.\",\n      \"keywords\": \"Stephon Clark,Police Brutality;Police Misconduct;Police Shootings\",\n      \"source\": {\n        \"publisher\": \"nytimes.com\",\n        \"domain\": \"nytimes.com\",\n        \"link\": \"https://nytimes.com\",\n        \"country\": \"United States\",\n        \"country_code\": \"us\",\n        \"language\": \"en\"\n      },\n      \"image_link\": \"https://static01.nyt.com/images/2018/03/22/autossell/sacramento-schooting2/sacramento-schooting2-facebookJumbo-v2.jpg\",\n      \"has_video\": true,\n      \"nw_score\": 280.85125702122036,\n      \"max_nw_score\": 3212.7672437775227,\n      \"topics\": [\n        {\n          \"id\": 2,\n          \"name\": \"News\"\n        },\n        {\n          \"id\": 668,\n          \"name\": \"Events\"\n        }\n      ],\n      \"authors\": [\n        \"FRANCES ROBLES\"\n      ],\n      \"entities\": [\n        \"Sacramento\",\n        \"Mr Clark\"\n      ]\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_match": {
                      "type": "integer",
                      "example": 702,
                      "default": 0
                    },
                    "articles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "delta_time": {
                            "type": "integer",
                            "example": 211,
                            "default": 0
                          },
                          "recent_fb_counts": {
                            "type": "integer",
                            "example": 3760,
                            "default": 0
                          },
                          "recent_tw_counts": {
                            "type": "integer",
                            "example": 188,
                            "default": 0
                          },
                          "videos": {
                            "type": "array"
                          },
                          "relatedStories": {
                            "type": "array"
                          },
                          "fb_data": {
                            "type": "object",
                            "properties": {
                              "total_engagement_count": {
                                "type": "integer",
                                "example": 48195,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 3760,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 211,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              },
                              "fb_overperforming": {
                                "type": "number",
                                "example": 2.884757949529689,
                                "default": 0
                              }
                            }
                          },
                          "tw_data": {
                            "type": "object",
                            "properties": {
                              "tw_count": {
                                "type": "integer",
                                "example": 7431,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 188,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 211,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              },
                              "tw_overperforming": {
                                "type": "number",
                                "example": 4.646973523569058,
                                "default": 0
                              }
                            }
                          },
                          "li_data": {
                            "type": "object",
                            "properties": {
                              "li_count": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 211,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              }
                            }
                          },
                          "pi_data": {
                            "type": "object",
                            "properties": {
                              "pi_count": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 211,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              }
                            }
                          },
                          "predicted_interactions": {
                            "type": "integer",
                            "example": 74438,
                            "default": 0
                          },
                          "predicted_timestamp": {
                            "type": "integer",
                            "example": 1522571075969,
                            "default": 0
                          },
                          "uuid": {
                            "type": "string",
                            "example": "3a4c6b20-3443-11e8-ab88-49c2dc76b82d"
                          },
                          "publication_timestamp": {
                            "type": "integer",
                            "example": 1522432393000,
                            "default": 0
                          },
                          "link": {
                            "type": "string",
                            "example": "https://www.nytimes.com/2018/03/30/us/stephon-clark-independent-autopsy.html"
                          },
                          "headline": {
                            "type": "string",
                            "example": "Stephon Clark Was Shot 8 Times Primarily in His Back, Family-Ordered Autopsy Finds"
                          },
                          "excerpt": {
                            "type": "string",
                            "example": "A lawyer for the family said the findings proved that Mr. Clark could not have been moving in a threatening fashion toward Sacramento officers when they opened fire."
                          },
                          "keywords": {
                            "type": "string",
                            "example": "Stephon Clark,Police Brutality;Police Misconduct;Police Shootings"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "publisher": {
                                "type": "string",
                                "example": "nytimes.com"
                              },
                              "domain": {
                                "type": "string",
                                "example": "nytimes.com"
                              },
                              "link": {
                                "type": "string",
                                "example": "https://nytimes.com"
                              },
                              "country": {
                                "type": "string",
                                "example": "United States"
                              },
                              "country_code": {
                                "type": "string",
                                "example": "us"
                              },
                              "language": {
                                "type": "string",
                                "example": "en"
                              }
                            }
                          },
                          "image_link": {
                            "type": "string",
                            "example": "https://static01.nyt.com/images/2018/03/22/autossell/sacramento-schooting2/sacramento-schooting2-facebookJumbo-v2.jpg"
                          },
                          "has_video": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "nw_score": {
                            "type": "number",
                            "example": 280.85125702122036,
                            "default": 0
                          },
                          "max_nw_score": {
                            "type": "number",
                            "example": 3212.7672437775227,
                            "default": 0
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 2,
                                  "default": 0
                                },
                                "name": {
                                  "type": "string",
                                  "example": "News"
                                }
                              }
                            }
                          },
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "FRANCES ROBLES"
                            }
                          },
                          "entities": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "Sacramento"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n        <title>Bad Request</title>\n        <link rel=\"shortcut icon\" href=\"data:image/png;\">\n        <style>\n            html, body, pre {\n                margin: 0;\n                padding: 0;\n                font-family: Monaco, 'Lucida Console', monospace;\n                background: #ECECEC;\n            }\n            h1 {\n                margin: 0;\n                background: #AD632A;\n                padding: 20px 45px;\n                color: #fff;\n                text-shadow: 1px 1px 1px rgba(0,0,0,.3);\n                border-bottom: 1px solid #9F5805;\n                font-size: 28px;\n            }\n            p#detail {\n                margin: 0;\n                padding: 15px 45px;\n                background: #F6A960;\n                border-top: 4px solid #D29052;\n                color: #733512;\n                text-shadow: 1px 1px 1px rgba(255,255,255,.3);\n                font-size: 14px;\n                border-bottom: 1px solid #BA7F5B;\n            }\n        </style>\n    </head>\n    <body>\n        <h1>Bad Request</h1>\n\n        <p id=\"detail\">\n            For request 'GET /api/v1/publisher/your_pubisher/your_time_period?key=DevHub' [Cannot parse parameter time as Int: For input string: &quot;null&quot;]\n        </p>\n\n    </body>\n</html>"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl \"https://api.newswhip.com/v1/publisher/nytimes.com/24?key=DevHub\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/local/{City}/All/{Time_Period}": {
      "get": {
        "summary": "/local",
        "description": "",
        "operationId": "local",
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "Any city or local region. See below for available local regions. i.e. New York, NY, London, Toronto, Hamburg-Schleswig-Holstein.",
            "schema": {
              "type": "string",
              "default": "Seattle, WA"
            },
            "required": true
          },
          {
            "name": "Time_Period",
            "in": "path",
            "description": "Filters articles published within the last {time_period} hours. Valid time_periods range from 1 up to 168 hours",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24
            },
            "required": true
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your API key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DevHub"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The number of results you wish to have returned in the request. The default is 150 if this is omitted. The maximum you can specify is 500.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 150
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{ \n  \"total_match\":620,\n  \"articles\": [\n    {\n      \"delta_time\": 249,\n      \"recent_fb_counts\": 41,\n      \"recent_tw_counts\": 1,\n      \"videos\": [\n        \"http://www.youtube.com/watch?v=2vk8T35bbQc\",\n        \"http://www.youtube.com/watch?v=28G9VLQezVg\",\n        \"http://www.youtube.com/watch?v=c02O4Wvo7QI\",\n        \"http://www.youtube.com/watch?v=TuuumQ4hcDg\",\n        \"http://www.youtube.com/watch?v=nnFZKnlQlDw\"\n      ],\n      \"relatedStories\": [],\n      \"fb_data\": {\n        \"total_engagement_count\": 2422,\n        \"total_count_delta\": 41,\n        \"delta_period\": 249,\n        \"delta_period_unit\": \"m\"\n      },\n      \"tw_data\": {\n        \"tw_count\": 7,\n        \"total_count_delta\": 1,\n        \"delta_period\": 249,\n        \"delta_period_unit\": \"m\"\n      },\n      \"li_data\": {\n        \"li_count\": 0,\n        \"total_count_delta\": 0,\n        \"delta_period\": 249,\n        \"delta_period_unit\": \"m\"\n      },\n      \"pi_data\": {\n        \"pi_count\": 1,\n        \"delta_period\": 249,\n        \"delta_period_unit\": \"m\"\n      },\n      \"predicted_interactions\": 2638,\n      \"predicted_timestamp\": 1522561756839,\n      \"uuid\": \"184c2eb0-343f-11e8-9e4c-83fcdd16cc63\",\n      \"publication_timestamp\": 1522430612000,\n      \"link\": \"http://bipartisanreport.com/2018/03/30/breaking-fbi-detains-trump-ally-at-airport-donald-feeling-robert-mueller-heat/\",\n      \"headline\": \"BREAKING: FBI Detains Trump Ally At Airport - Donald Feeling Robert Mueller Heat\",\n      \"excerpt\": \"The Russia investigation is continuing to proceed, whether the president and his allies are fond of the idea or not. Although the House Intelligence Committee moved to end its investigation, other lines of inquiry are still very much open. Special Counsel Robert Mueller, for instance, has proven that he will leave no stone unturned in \u2026 Continued\",\n      \"keywords\": \"\",\n      \"source\": {\n        \"publisher\": \"bipartisanreport.com\",\n        \"domain\": \"bipartisanreport.com\",\n        \"link\": \"http://bipartisanreport.com\",\n        \"country\": \"United States\",\n        \"country_code\": \"us\",\n        \"language\": \"en\"\n      },\n      \"image_link\": \"http://cdn.bipartisanreport.com/wordpress/wp-content/uploads/2018/03/935503612.jpg\",\n      \"has_video\": true,\n      \"nw_score\": 6.6169187100695535,\n      \"max_nw_score\": 1029.80745168683,\n      \"topics\": [\n        {\n          \"id\": 2,\n          \"name\": \"News\"\n        },\n        {\n          \"id\": 20,\n          \"name\": \"Politics\"\n        }\n      ],\n      \"authors\": [\n        \"Caleb Newton\"\n      ],\n      \"entities\": [\n        \"Russia\",\n        \"House Intelligence Committee\",\n        \"Robert Mueller\"\n      ]\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_match": {
                      "type": "integer",
                      "example": 620,
                      "default": 0
                    },
                    "articles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "delta_time": {
                            "type": "integer",
                            "example": 249,
                            "default": 0
                          },
                          "recent_fb_counts": {
                            "type": "integer",
                            "example": 41,
                            "default": 0
                          },
                          "recent_tw_counts": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "videos": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "http://www.youtube.com/watch?v=2vk8T35bbQc"
                            }
                          },
                          "relatedStories": {
                            "type": "array"
                          },
                          "fb_data": {
                            "type": "object",
                            "properties": {
                              "total_engagement_count": {
                                "type": "integer",
                                "example": 2422,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 41,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 249,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              }
                            }
                          },
                          "tw_data": {
                            "type": "object",
                            "properties": {
                              "tw_count": {
                                "type": "integer",
                                "example": 7,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 249,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              }
                            }
                          },
                          "li_data": {
                            "type": "object",
                            "properties": {
                              "li_count": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 249,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              }
                            }
                          },
                          "pi_data": {
                            "type": "object",
                            "properties": {
                              "pi_count": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 249,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              }
                            }
                          },
                          "predicted_interactions": {
                            "type": "integer",
                            "example": 2638,
                            "default": 0
                          },
                          "predicted_timestamp": {
                            "type": "integer",
                            "example": 1522561756839,
                            "default": 0
                          },
                          "uuid": {
                            "type": "string",
                            "example": "184c2eb0-343f-11e8-9e4c-83fcdd16cc63"
                          },
                          "publication_timestamp": {
                            "type": "integer",
                            "example": 1522430612000,
                            "default": 0
                          },
                          "link": {
                            "type": "string",
                            "example": "http://bipartisanreport.com/2018/03/30/breaking-fbi-detains-trump-ally-at-airport-donald-feeling-robert-mueller-heat/"
                          },
                          "headline": {
                            "type": "string",
                            "example": "BREAKING: FBI Detains Trump Ally At Airport - Donald Feeling Robert Mueller Heat"
                          },
                          "excerpt": {
                            "type": "string",
                            "example": "The Russia investigation is continuing to proceed, whether the president and his allies are fond of the idea or not. Although the House Intelligence Committee moved to end its investigation, other lines of inquiry are still very much open. Special Counsel Robert Mueller, for instance, has proven that he will leave no stone unturned in \u2026 Continued"
                          },
                          "keywords": {
                            "type": "string",
                            "example": ""
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "publisher": {
                                "type": "string",
                                "example": "bipartisanreport.com"
                              },
                              "domain": {
                                "type": "string",
                                "example": "bipartisanreport.com"
                              },
                              "link": {
                                "type": "string",
                                "example": "http://bipartisanreport.com"
                              },
                              "country": {
                                "type": "string",
                                "example": "United States"
                              },
                              "country_code": {
                                "type": "string",
                                "example": "us"
                              },
                              "language": {
                                "type": "string",
                                "example": "en"
                              }
                            }
                          },
                          "image_link": {
                            "type": "string",
                            "example": "http://cdn.bipartisanreport.com/wordpress/wp-content/uploads/2018/03/935503612.jpg"
                          },
                          "has_video": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "nw_score": {
                            "type": "number",
                            "example": 6.6169187100695535,
                            "default": 0
                          },
                          "max_nw_score": {
                            "type": "number",
                            "example": 1029.80745168683,
                            "default": 0
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 2,
                                  "default": 0
                                },
                                "name": {
                                  "type": "string",
                                  "example": "News"
                                }
                              }
                            }
                          },
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "Caleb Newton"
                            }
                          },
                          "entities": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "Russia"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"message\": \"time parameter is invalid. Received: 9999999\",\n    \"id\": \"7554ca00-30ab-4ba0-a472-4e533e76e59a\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "time parameter is invalid. Received: 9999999"
                        },
                        "id": {
                          "type": "string",
                          "example": "7554ca00-30ab-4ba0-a472-4e533e76e59a"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl \"https://api.newswhip.com/v1/local/Seattle, WA/All/24?key=DevHub\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/search": {
      "get": {
        "summary": "/search",
        "description": "",
        "operationId": "search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The keywords or phrase that you'd like to search for",
            "required": true,
            "schema": {
              "type": "string",
              "default": "happiness"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your API key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DevHub"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The number of results you wish to have returned in the request. The default is 150 if this is omitted. The maximum you can specify is 500.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 150
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"total_match\":620,\n  \"articles\": [\n    {\n      \"delta_time\": 263,\n      \"recent_fb_counts\": 48,\n      \"recent_tw_counts\": 5,\n      \"relatedStories\": [\n        {\n          \"delta_time\": 189,\n          \"recent_fb_counts\": 157,\n          \"recent_tw_counts\": 0,\n          \"relatedStories\": [],\n          \"fb_data\": {\n            \"total_engagement_count\": 351,\n            \"total_count_delta\": 157,\n            \"delta_period\": 189,\n            \"delta_period_unit\": \"m\"\n          },\n          \"tw_data\": {\n            \"tw_count\": 0,\n            \"total_count_delta\": 0,\n            \"delta_period\": 189,\n            \"delta_period_unit\": \"m\"\n          },\n          \"li_data\": {\n            \"li_count\": 0,\n            \"total_count_delta\": 0,\n            \"delta_period\": 189,\n            \"delta_period_unit\": \"m\"\n          },\n          \"pi_data\": {\n            \"pi_count\": 0,\n            \"delta_period\": 189,\n            \"delta_period_unit\": \"m\"\n          },\n          \"predicted_interactions\": 1162,\n          \"predicted_timestamp\": 1522560805758,\n          \"uuid\": \"fd7f0100-34a4-11e8-a52e-a128b18e226e\",\n          \"publication_timestamp\": 1522474219000,\n          \"link\": \"http://www.abc.net.au/triplej/news/musicnews/lana-del-rey-shares-sneak-peak-of-new-music-while-in-australia/9606794\",\n          \"headline\": \"Lana Del Rey previews new song 'Happiness Is A Butterfly' while in Australia\",\n          \"excerpt\": \"\\\"Sing it for my babies on the tourlyfe\\\"\",\n          \"keywords\": \"lana del rey, preview, australia\",\n          \"source\": {\n            \"publisher\": \"abc.net.au\",\n            \"domain\": \"abc.net.au\",\n            \"link\": \"http://abc.net.au\",\n            \"country\": \"Australia\",\n            \"country_code\": \"au\",\n            \"language\": \"en\"\n          },\n          \"image_link\": \"http://www.abc.net.au/cm/rimage/9335302-16x9-large.jpg?v=2\",\n          \"has_video\": false,\n          \"nw_score\": 52.11315038623968,\n          \"max_nw_score\": 249.86289135221006,\n          \"topics\": [],\n          \"authors\": null,\n          \"entities\": []\n        }\n    ]\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"message\": \"query can't be empty\",\n    \"id\": \"65773da0-5e3c-4a68-bb58-eaf4ccc99a26\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "query can't be empty"
                        },
                        "id": {
                          "type": "string",
                          "example": "65773da0-5e3c-4a68-bb58-eaf4ccc99a26"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl \"https://api.newswhip.com/v1/search?q=happiness&key=DevHub\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/articles": {
      "post": {
        "summary": "/articles",
        "description": "",
        "operationId": "articles",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Your API key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DevHub"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "filters"
                ],
                "properties": {
                  "filters": {
                    "type": "array",
                    "description": "See the Notes section at the bottom of this page. The _Lucene query strings_ section shares important considerations, including the limits to the number of filters that are allowed.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "from": {
                    "type": "integer",
                    "description": "Unix timestamp in milliseconds. Filters articles published after {from}. Defaults to a week ago.",
                    "default": null,
                    "format": "int64"
                  },
                  "to": {
                    "type": "integer",
                    "description": "Unix timestamp in milliseconds. Filters articles published before {to}. Defaults to now.",
                    "default": null,
                    "format": "int64"
                  },
                  "language": {
                    "type": "string",
                    "description": "Two letter ISO 639-1 language code. Defaults to any language.",
                    "default": "en"
                  },
                  "sort_by": {
                    "type": "string",
                    "description": "See notes below.",
                    "default": "default"
                  },
                  "video_only": {
                    "type": "boolean",
                    "description": "Ignored when searching by the content_type youtube. Defaults to false.",
                    "default": false
                  },
                  "default_fields": {
                    "type": "array",
                    "description": "Up to 3 available fields to be used filtering only by keywords (like \"Barack Obama\"). Defaults to `headline`, `summary`, and `authors`.",
                    "default": [
                      "headline",
                      "summary",
                      "authors"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "integer",
                    "description": "Max number of articles to be returned (includes relatedStories). Defaults to 200. The maximum you can specify is 5,000.",
                    "default": 5,
                    "format": "int32"
                  },
                  "find_related": {
                    "type": "boolean",
                    "description": "Related stories will be collapsed when set. Ignored when searching by the content_type youtube. Defaults to `true`.",
                    "default": true
                  },
                  "content_type": {
                    "type": "string",
                    "description": "Filter by `stories` or `youtube`. Defaults to `stories`."
                  },
                  "search_full_text": {
                    "type": "boolean",
                    "description": "If you want to search the full article text, set this to true. Defaults to `false`.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"total_match\":15602,\n  \"articles\": [\n    {\n      \"delta_time\": 548,\n      \"recent_fb_counts\": 54761,\n      \"recent_tw_counts\": 0,\n      \"relatedStories\": [],\n      \"fb_data\": {\n        \"total_engagement_count\": 1096120,\n        \"total_count_delta\": 54761,\n        \"delta_period\": 548,\n        \"delta_period_unit\": \"m\",\n        \"fb_overperforming\": 26.570010165941973\n      },\n      \"tw_data\": {\n        \"tw_count\": 0,\n        \"total_count_delta\": 0,\n        \"delta_period\": 548,\n        \"delta_period_unit\": \"m\"\n      },\n      \"li_data\": {\n        \"li_count\": 0,\n        \"total_count_delta\": 0,\n        \"delta_period\": 548,\n        \"delta_period_unit\": \"m\"\n      },\n      \"pi_data\": {\n        \"pi_count\": 2,\n        \"delta_period\": 548,\n        \"delta_period_unit\": \"m\"\n      },\n      \"predicted_interactions\": 1281202,\n      \"predicted_timestamp\": 1522319800242,\n      \"uuid\": \"3c75f3a0-309a-11e8-a52e-a128b18e226e\",\n      \"publication_timestamp\": 1521989222000,\n      \"link\": \"https://viralhatch.com/index.php/2018/03/25/90-have-no-idea-what-this-is-do-you-share-if-you-do/\",\n      \"headline\": \"90% Have No Idea What This Is. Do You? SHARE if you do..\",\n      \"excerpt\": \"Have you ever seen one of these?\",\n      \"keywords\": \"\",\n      \"source\": {\n        \"publisher\": \"viralhatch.com\",\n        \"domain\": \"viralhatch.com\",\n        \"link\": \"https://viralhatch.com\",\n        \"country\": \"United States\",\n        \"country_code\": \"us\",\n        \"language\": \"en\"        \n      },\n      \"image_link\": \"https://viralhatch.com/wp-content/uploads/2018/03/ghght.jpg\",\n      \"has_video\": false,\n      \"nw_score\": 532.8919847752009,\n      \"max_nw_score\": 5263.7731261133695,\n      \"topics\": [],\n      \"authors\": null,\n      \"entities\": []\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_match": {
                      "type": "integer",
                      "example": 15602,
                      "default": 0
                    },
                    "articles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "delta_time": {
                            "type": "integer",
                            "example": 548,
                            "default": 0
                          },
                          "recent_fb_counts": {
                            "type": "integer",
                            "example": 54761,
                            "default": 0
                          },
                          "recent_tw_counts": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "relatedStories": {
                            "type": "array"
                          },
                          "fb_data": {
                            "type": "object",
                            "properties": {
                              "total_engagement_count": {
                                "type": "integer",
                                "example": 1096120,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 54761,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 548,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              },
                              "fb_overperforming": {
                                "type": "number",
                                "example": 26.570010165941973,
                                "default": 0
                              }
                            }
                          },
                          "tw_data": {
                            "type": "object",
                            "properties": {
                              "tw_count": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 548,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              }
                            }
                          },
                          "li_data": {
                            "type": "object",
                            "properties": {
                              "li_count": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 548,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              }
                            }
                          },
                          "pi_data": {
                            "type": "object",
                            "properties": {
                              "pi_count": {
                                "type": "integer",
                                "example": 2,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 548,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              }
                            }
                          },
                          "predicted_interactions": {
                            "type": "integer",
                            "example": 1281202,
                            "default": 0
                          },
                          "predicted_timestamp": {
                            "type": "integer",
                            "example": 1522319800242,
                            "default": 0
                          },
                          "uuid": {
                            "type": "string",
                            "example": "3c75f3a0-309a-11e8-a52e-a128b18e226e"
                          },
                          "publication_timestamp": {
                            "type": "integer",
                            "example": 1521989222000,
                            "default": 0
                          },
                          "link": {
                            "type": "string",
                            "example": "https://viralhatch.com/index.php/2018/03/25/90-have-no-idea-what-this-is-do-you-share-if-you-do/"
                          },
                          "headline": {
                            "type": "string",
                            "example": "90% Have No Idea What This Is. Do You? SHARE if you do.."
                          },
                          "excerpt": {
                            "type": "string",
                            "example": "Have you ever seen one of these?"
                          },
                          "keywords": {
                            "type": "string",
                            "example": ""
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "publisher": {
                                "type": "string",
                                "example": "viralhatch.com"
                              },
                              "domain": {
                                "type": "string",
                                "example": "viralhatch.com"
                              },
                              "link": {
                                "type": "string",
                                "example": "https://viralhatch.com"
                              },
                              "country": {
                                "type": "string",
                                "example": "United States"
                              },
                              "country_code": {
                                "type": "string",
                                "example": "us"
                              },
                              "language": {
                                "type": "string",
                                "example": "en"
                              }
                            }
                          },
                          "image_link": {
                            "type": "string",
                            "example": "https://viralhatch.com/wp-content/uploads/2018/03/ghght.jpg"
                          },
                          "has_video": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "nw_score": {
                            "type": "number",
                            "example": 532.8919847752009,
                            "default": 0
                          },
                          "max_nw_score": {
                            "type": "number",
                            "example": 5263.7731261133695,
                            "default": 0
                          },
                          "topics": {
                            "type": "array"
                          },
                          "authors": {},
                          "entities": {
                            "type": "array"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"message\": \"Fields 'foo' is not allowed for filters query!\",\n    \"id\": \"6958f453-0acd-4c59-9f68-d82b42daa9f3\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Fields 'foo' is not allowed for filters query!"
                        },
                        "id": {
                          "type": "string",
                          "example": "6958f453-0acd-4c59-9f68-d82b42daa9f3"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -H \"Content-Type: application/json\" -X POST -d '{\n    \"filters\": [\"country_code:(us OR gb) AND -publisher:youtube.com AND headline:rihanna\"],\n    \"language\": \"en\",\n    \"video_only\":false,\n    \"sort_by\": \"nw_max_score\",\n    \"find_related\": false,\n    \"size\": 1\n}' \"https://api.newswhip.com/v1/articles?key=DevHub\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/fbPosts": {
      "post": {
        "summary": "/fbPosts",
        "description": "",
        "operationId": "fbposts",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Your API key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DevHub"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "filters"
                ],
                "properties": {
                  "filters": {
                    "type": "array",
                    "description": "See the Notes section at the bottom of this page. The _Lucene query strings_ section shares important considerations, including the limits to the number of filters that are allowed.",
                    "default": [
                      "country_code:us"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "from": {
                    "type": "integer",
                    "description": "Unix timestamp in milliseconds. Filters articles published after {from}. Defaults to 1 week ago.",
                    "default": null,
                    "format": "int64"
                  },
                  "to": {
                    "type": "integer",
                    "description": "Unix timestamp in milliseconds. Filters articles published before {to}. Defaults to now.",
                    "default": null,
                    "format": "int64"
                  },
                  "language": {
                    "type": "string",
                    "description": "Two letter ISO 639-1 language code. Defaults to any language."
                  },
                  "default_fields": {
                    "type": "array",
                    "description": "Up to 3 available fields to be used when filtering only by keywords (like \"Barack Obama\"). Defaults to `page_name` and `external_link`. You can choose from: `headline`, `external_link`, `page_id`, `page_name`, `country_code`, `authors`, `language`, `region_code`, and `summary`.",
                    "default": [
                      "page_name",
                      "external_link"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "integer",
                    "description": "Max number of articles to be returned (includes relatedStories.) Defaults to 200. The maximum you can specify is 5,000.",
                    "default": 5,
                    "format": "int32"
                  },
                  "content_type": {
                    "type": "string",
                    "description": "`all`, `all_video`, `embedded_video`, `native_video`, `live_video`, `link`, `photo`, `status`, `branded_content`. Defaults to return all content types."
                  },
                  "sort_by": {
                    "type": "string",
                    "description": "Sorts by the following in descending order: `default`, `nw_max_score`, `fb_overperforming`, `fb_total_engagement`, `created_at`, `fb_likes`, `fb_shares`, `fb_comments`, `fb_loves`, `fb_wows`, `fb_hahas`, `fb_sads`, `fb_angrys`. The default `sort_by` is `nw_max score` when the selected time-range is <= 25h, otherwise it will be `fb_overperforming`.",
                    "default": "default"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"total_match\":1500,\n  \"fbPosts\": [\n    {\n      \"page_id\": \"1557825057865287\",\n      \"page_name\": \"JayShettyIW\",\n      \"post_type\": \"Native Video\",\n      \"is_live_video\": false,\n      \"fb_story\": \"Jay Shetty added a new episode.\",\n      \"fb_sponsor_tags\": [],\n      \"fb_data\": {\n        \"total_engagement_count\": 2941272,\n        \"total_count_delta\": 116841,\n        \"delta_period\": 493,\n        \"delta_period_unit\": \"m\",\n        \"fb_overperforming\": 11.044809337609504,\n        \"reactions\": {\n          \"comments\": 54114,\n          \"likes\": 405282,\n          \"shares\": 2362549,\n          \"loves\": 104918,\n          \"wows\": 13387,\n          \"hahas\": 441,\n          \"sads\": 500,\n          \"angrys\": 81\n        }\n      },\n      \"uuid\": \"f94dab70-31c7-11e8-a52e-a128b18e226e\",\n      \"publication_timestamp\": 1522159200000,\n      \"link\": \"https://www.facebook.com/1557825057865287/posts/1995740577407064\",\n      \"headline\": \"Before You Feel Pressure Watch This\",\n      \"excerpt\": \"Everyone has a different clock. Wait for your time\",\n      \"keywords\": \"\",\n      \"source\": {\n        \"publisher\": \"\",\n        \"link\": \"http://\",\n        \"country\": \"United States\",\n        \"country_code\": \"us\",\n        \"language\": \"en\" \n      },\n      \"image_link\": \"https://scontent.xx.fbcdn.net/v/t15.0-10/s720x720/27599510_1995747294073059_3197960858223247360_n.jpg?_nc_cat=0&oh=ae39d986d63f1cf2dac596d3f93cf53b&oe=5B303B2E\",\n      \"has_video\": true,\n      \"nw_score\": 869.3953298785547,\n      \"max_nw_score\": 16524.22956588446,\n      \"topics\": [\n        {\n          \"id\": 285,\n          \"name\": \"Viral Sites\"\n        }\n      ],\n      \"authors\": null,\n      \"entities\": []\n    },\n    {\n      \"page_id\": \"92304305160\",\n      \"page_name\": \"Will Smith\",\n      \"post_type\": \"Native Video\",\n      \"is_live_video\": false,\n      \"fb_story\": \"\",\n      \"fb_sponsor_tags\": [],\n      \"fb_data\": {\n        \"total_engagement_count\": 2730954,\n        \"total_count_delta\": 30339,\n        \"delta_period\": 683,\n        \"delta_period_unit\": \"m\",\n        \"fb_overperforming\": 8.63659222535034,\n        \"reactions\": {\n          \"comments\": 74647,\n          \"likes\": 1094596,\n          \"shares\": 849410,\n          \"loves\": 566717,\n          \"wows\": 4295,\n          \"hahas\": 141110,\n          \"sads\": 107,\n          \"angrys\": 72\n        }\n      },\n      \"uuid\": \"888447c0-3044-11e8-a52e-a128b18e226e\",\n      \"publication_timestamp\": 1521993008000,\n      \"link\": \"https://www.facebook.com/92304305160/posts/10160067736600161\",\n      \"headline\": \"\",\n      \"excerpt\": \"#Bucketlist - Salsa Lessons from @MarcAnthony... \u2714\ufe0f \\n\\nI just realized this is my 100th Post - Thank You All! Let\u2019s Go Get the next \ud83d\udcaf\",\n      \"keywords\": \"\",\n      \"source\": {\n        \"publisher\": \"\",\n        \"link\": \"http://\",\n        \"country\": \"United States\",\n        \"country_code\": \"us\"\n      },\n      \"image_link\": \"https://scontent.xx.fbcdn.net/v/t15.0-10/s720x720/27603910_10160067743400161_4242397347268526080_n.jpg?_nc_cat=0&oh=54bdf5c764e8fe2bfab3911e2f0474fc&oe=5B2F7118\",\n      \"has_video\": true,\n      \"nw_score\": 227.7659232536071,\n      \"max_nw_score\": 89325.11841407913,\n      \"topics\": [\n        {\n          \"id\": 3,\n          \"name\": \"Entertainment\"\n        },\n        {\n          \"id\": 699,\n          \"name\": \"Celebrity\"\n        }\n      ],\n      \"authors\": null,\n      \"entities\": []\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_match": {
                      "type": "integer",
                      "example": 1500,
                      "default": 0
                    },
                    "fbPosts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page_id": {
                            "type": "string",
                            "example": "1557825057865287"
                          },
                          "page_name": {
                            "type": "string",
                            "example": "JayShettyIW"
                          },
                          "post_type": {
                            "type": "string",
                            "example": "Native Video"
                          },
                          "is_live_video": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "fb_story": {
                            "type": "string",
                            "example": "Jay Shetty added a new episode."
                          },
                          "fb_sponsor_tags": {
                            "type": "array"
                          },
                          "fb_data": {
                            "type": "object",
                            "properties": {
                              "total_engagement_count": {
                                "type": "integer",
                                "example": 2941272,
                                "default": 0
                              },
                              "total_count_delta": {
                                "type": "integer",
                                "example": 116841,
                                "default": 0
                              },
                              "delta_period": {
                                "type": "integer",
                                "example": 493,
                                "default": 0
                              },
                              "delta_period_unit": {
                                "type": "string",
                                "example": "m"
                              },
                              "fb_overperforming": {
                                "type": "number",
                                "example": 11.044809337609504,
                                "default": 0
                              },
                              "reactions": {
                                "type": "object",
                                "properties": {
                                  "comments": {
                                    "type": "integer",
                                    "example": 54114,
                                    "default": 0
                                  },
                                  "likes": {
                                    "type": "integer",
                                    "example": 405282,
                                    "default": 0
                                  },
                                  "shares": {
                                    "type": "integer",
                                    "example": 2362549,
                                    "default": 0
                                  },
                                  "loves": {
                                    "type": "integer",
                                    "example": 104918,
                                    "default": 0
                                  },
                                  "wows": {
                                    "type": "integer",
                                    "example": 13387,
                                    "default": 0
                                  },
                                  "hahas": {
                                    "type": "integer",
                                    "example": 441,
                                    "default": 0
                                  },
                                  "sads": {
                                    "type": "integer",
                                    "example": 500,
                                    "default": 0
                                  },
                                  "angrys": {
                                    "type": "integer",
                                    "example": 81,
                                    "default": 0
                                  }
                                }
                              }
                            }
                          },
                          "uuid": {
                            "type": "string",
                            "example": "f94dab70-31c7-11e8-a52e-a128b18e226e"
                          },
                          "publication_timestamp": {
                            "type": "integer",
                            "example": 1522159200000,
                            "default": 0
                          },
                          "link": {
                            "type": "string",
                            "example": "https://www.facebook.com/1557825057865287/posts/1995740577407064"
                          },
                          "headline": {
                            "type": "string",
                            "example": "Before You Feel Pressure Watch This"
                          },
                          "excerpt": {
                            "type": "string",
                            "example": "Everyone has a different clock. Wait for your time"
                          },
                          "keywords": {
                            "type": "string",
                            "example": ""
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "publisher": {
                                "type": "string",
                                "example": ""
                              },
                              "link": {
                                "type": "string",
                                "example": "http://"
                              },
                              "country": {
                                "type": "string",
                                "example": "United States"
                              },
                              "country_code": {
                                "type": "string",
                                "example": "us"
                              },
                              "language": {
                                "type": "string",
                                "example": "en"
                              }
                            }
                          },
                          "image_link": {
                            "type": "string",
                            "example": "https://scontent.xx.fbcdn.net/v/t15.0-10/s720x720/27599510_1995747294073059_3197960858223247360_n.jpg?_nc_cat=0&oh=ae39d986d63f1cf2dac596d3f93cf53b&oe=5B303B2E"
                          },
                          "has_video": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "nw_score": {
                            "type": "number",
                            "example": 869.3953298785547,
                            "default": 0
                          },
                          "max_nw_score": {
                            "type": "number",
                            "example": 16524.22956588446,
                            "default": 0
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 285,
                                  "default": 0
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Viral Sites"
                                }
                              }
                            }
                          },
                          "authors": {},
                          "entities": {
                            "type": "array"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"message\": \"Fields 'foo_field' is not allowed for filters query!\",\n    \"id\": \"cdf16324-3c65-4330-9137-ea8efcf7e3a0\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Fields 'foo_field' is not allowed for filters query!"
                        },
                        "id": {
                          "type": "string",
                          "example": "cdf16324-3c65-4330-9137-ea8efcf7e3a0"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -H \"Content-Type: application/json\" -X POST -d '{\n    \"filters\": [\"country_code:us\"],\n    \"sort_by\":\"fb_likes\",\n    \"content_type\":\"Status\"\n}' \"https://api.newswhip.com/v1/fbPosts?key=DevHub\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/stats": {
      "post": {
        "summary": "/stats",
        "description": "",
        "operationId": "stats",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Your API key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DevHub"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "filters",
                  "sort_by",
                  "aggregate_by"
                ],
                "properties": {
                  "filters": {
                    "type": "array",
                    "description": "See the Notes section at the bottom of this page. The _Lucene query strings_ section shares important considerations, including the limits to the number of filters that are allowed.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "from": {
                    "type": "integer",
                    "description": "Unix timestamp in milliseconds. Filters articles published after {from}. Unix timestamp in milliseconds. Defaults to a week ago.",
                    "default": null,
                    "format": "int64"
                  },
                  "to": {
                    "type": "integer",
                    "description": "Unix timestamp in milliseconds. Filters articles published before {to}. Unix timestamp in milliseconds. Defaults to now.",
                    "default": null,
                    "format": "int64"
                  },
                  "language": {
                    "type": "string",
                    "description": "Two letter ISO 639-1 language code. Defaults to any language."
                  },
                  "sort_by": {
                    "type": "string",
                    "description": "Can sort using the following fields: `fb_total`, `twitter`, `pinterest`, `linkedin`. You can use the following values `count`, `min`, `max`, `avg`, `sum`, `sum_of_squares`, `variance`, `std_deviation`. For example,  `fb_total.sum` or `pinterest.max`."
                  },
                  "default_fields": {
                    "type": "array",
                    "description": "Up to 3 available fields to be used filtering only by keywords (like \"Barack Obama\"). Defaults to `headline`, `summary`, and `authors`.",
                    "default": [
                      "headline",
                      "summary",
                      "authors"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "integer",
                    "description": "Max number of articles to be returned (includes relatedStories). Defaults to 200. The maximum you can specify is 5,000.",
                    "default": 200,
                    "format": "int32"
                  },
                  "aggregate_by": {
                    "type": "string",
                    "description": "One of (\u201cpublisher\u201d, \u201cdomains\u201d, \u201cdomain\u201d, \u201clanguage\u201d, \u201cauthors\u201d, \u201ccategories\u201d, \u201ccountry_code\u201d). See below for information about these options."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"key\": \"globo.com\",\n    \"stats\": {\n      \"fb_total\": {\n        \"count\": 14389,\n        \"min\": 0,\n        \"max\": 305086,\n        \"avg\": 756.6266592535965,\n        \"sum\": 10887101,\n        \"sum_of_squares\": 359712851941,\n        \"variance\": 24426671.838377476,\n        \"std_deviation\": 4942.334654632108\n      },\n      \"twitter\": {\n        \"count\": 8336,\n        \"min\": 1,\n        \"max\": 3672,\n        \"avg\": 20.574136276391556,\n        \"sum\": 171506,\n        \"sum_of_squares\": 108514118,\n        \"variance\": 12594.233467344193,\n        \"std_deviation\": 112.22403248566768\n      },\n      \"pinterest\": {\n        \"count\": 268,\n        \"min\": 1,\n        \"max\": 156,\n        \"avg\": 4.742537313432836,\n        \"sum\": 1271,\n        \"sum_of_squares\": 53221,\n        \"variance\": 176.09416072621966,\n        \"std_deviation\": 13.270047502786856\n      },\n      \"linkedin\": {\n        \"count\": 0,\n        \"min\": \"Infinity\",\n        \"max\": \"-Infinity\",\n        \"avg\": \"NaN\",\n        \"sum\": 0,\n        \"sum_of_squares\": 0,\n        \"variance\": \"NaN\",\n        \"std_deviation\": \"NaN\"\n      }\n    },\n    \"total\": 11058607\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "example": "globo.com"
                      },
                      "stats": {
                        "type": "object",
                        "properties": {
                          "fb_total": {
                            "type": "object",
                            "properties": {
                              "count": {
                                "type": "integer",
                                "example": 14389,
                                "default": 0
                              },
                              "min": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "max": {
                                "type": "integer",
                                "example": 305086,
                                "default": 0
                              },
                              "avg": {
                                "type": "number",
                                "example": 756.6266592535965,
                                "default": 0
                              },
                              "sum": {
                                "type": "integer",
                                "example": 10887101,
                                "default": 0
                              },
                              "sum_of_squares": {
[...]
